.header {
  background: #f9f9f9;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (min-width: 768px) {
  .header {
    justify-content: space-between;
    padding: 0 5rem;
  }  
}

@media screen and (min-width: 0px) {
  .header__logo {
    display: none;
  }  
}

@media screen and (min-width: 768px) {
  .header__logo {
    display: block;
  }  
}